<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
