{% extends 'layout.html.twig' %}

{% block content %}
    <div id="crud_search">
        {% include 'user/search.html.twig'  %}
    </div>

    <div id="crud_list">
        {% include 'user/list.html.twig' %}
    </div>
{% endblock %}
