/*Boutons */
input.add, button.add
{
    background-image: url('/ecr/images/i16/edit_add.png');
    background-repeat:no-repeat;
    background-position: 2px 2px;
    background-color: #ece9d8;
    padding: 2px 2px 2px 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: green;
    font-weight: bold;
    margin-left: 3px;
}

input.back, button.back
{
    background-image: url('/ecr/images/i16/rotate.png');
    background-repeat:no-repeat;
    background-position: 2px 2px;
    background-color: #ece9d8;
    padding: 2px 2px 2px 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: gray;
    font-weight: bold;
    margin-left: 3px;
}

input.save, button.save
{
    background-image: url('/ecr/images/i16/apply.png');
    background-repeat:no-repeat;
    background-position: 2px 2px;
    background-color: #ece9d8;
    padding: 2px 2px 2px 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: green;
    font-weight: bold;
    margin-left: 3px;
}

input.edit, button.edit
{
    background-image: url('/ecr/images/i16/edit.png');
    background-repeat:no-repeat;
    background-position: 2px 2px;
    background-color: #ece9d8;
    padding: 2px 2px 2px 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: grey;
    font-weight: bold;
    margin-left: 3px;
}

input.search, button.search
{
    background-image: url('/ecr/images/i16/search.png');
    background-repeat:no-repeat;
    background-position: 2px 2px;
    background-color: #ece9d8;
    padding: 2px 2px 2px 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: grey;
    font-weight: bold;
    margin-left: 3px;
}

input.raz, button.raz
{
    background-image: url('/ecr/images/i16/delete_table.png');
    background-repeat:no-repeat;
    background-position: 2px 2px;
    background-color: #ece9d8;
    padding: 2px 2px 2px 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: red;
    font-weight: bold;
    margin-left: 3px;
}

input.delete, button.delete
{
    background-image: url('/ecr/images/i16/editdelete.png');
    background-repeat:no-repeat;
    background-position: 2px 2px;
    background-color: #ece9d8;
    padding: 2px 2px 2px 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: red;
    font-weight: bold;
    margin-left: 3px;
}

input.active, button.active
{
    background-image: url('/ecr/images/i16/page_add.png');
    background-repeat:no-repeat;
    background-position: 2px 2px;
    background-color: #ece9d8;
    padding: 2px 2px 2px 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: green;
    font-weight: bold;
    margin-left: 3px;
}

input.desactive, button.desactive
{
    background-image: url('/ecr/images/i16/page_delete.png');
    background-repeat:no-repeat;
    background-position: 2px 2px;
    background-color: #ece9d8;
    padding: 2px 2px 2px 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: red;
    font-weight: bold;
    margin-left: 3px;
}

/*Fenetres modales */
.crud_modal 
{  
    display:none;  
    z-index:1000; 
    background-color:#ffffff; 
    width:970px;     
    min-height:200px; 
    border:1px solid #666666; 
    -moz-box-shadow:0 0 90px 5px #000; 
    -webkit-box-shadow: 0 0 90px #000;     
} 

.crud_modal .contentWrap
{
    padding: 10px;
    font-family: 'Arial';
    font-size: 10pt;
}

.crud_modal .close
{ 
    background-image:url('/ecr/images/i36/close.png'); 
    position:absolute; 
    right:-15px; 
    top:-15px; 
    cursor:pointer; 
    height:35px; 
    width:35px;
    opacity: 1;
}

.crud_modal .close:hover
{
    opacity: 1;
}

/*Erreurs formulaire */
ul.form_error
{
    width: 100%;
    padding-left: 0px;
    margin-top: 0px;
}

ul.form_error li
{
    background-color: #CC3333;
    background-image: url('/ecr/images/i16/error.png');
    background-repeat: no-repeat;
    padding-top: 2px;
    padding-bottom: 2px;
    background-position: 2px 2px;
    margin-bottom: 1px;
    list-style-type: none;
}

ul.form_error li span
{
    margin-left: 20px;
    font-weight: bold;
    color: white;
    font-style: italic;
}

/* Formulaire */
span.field_required
{
    color: #CC3333;
    font-weight: bold;
}

/* Pagination */
.pagination
{
    margin-bottom: 10px;
}
.pagination .pagination_actual, .pagination .pagination_no_actual, .pagination .text
{
    background-color: #BAB8B9;
    padding: 3px;
    margin: 3px;
    font-size: 12px;
}

.pagination .image
{
    margin: 0px;
}

.pagination .pagination_actual
{
    color: #BAB8B9;
    border: #BAB8B9 solid 1px;
    background-color: #ffffff;
}

.pagination a
{
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

/* Propriétés d'affichage */
.display_config_nomodal
{
    display: none;
    width: 90%;
    padding: 10px;
    margin: auto;
    background-color: #DEDCDD;
}

.display_config_nomodal .title
{
    text-align: center;
    font-weight: bold;
}
