{% extends 'form_div_layout.html.twig' %}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="form_error">
        {% for error in errors %}
            <li>
                {% if 'data-display-in-errors' in form.vars.label_attr|keys %}
                    {% if 'label-in-errors' in form.vars.label_attr|keys %}
                        {% set labelDisplayed = form.vars.label_attr['label-in-errors'] %}
                    {% else %}
                        {% set labelDisplayed = form.vars.label %}
                    {% endif %}
                    <span>{{ labelDisplayed|trans }} : {{ error.message }}</span>
                {% else %}
                    <span>{{ error.message }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_label %}
{% spaceless %}
    {{ parent() }}
    {% if required %}
        <span class="field_required" title="This field is required">*</span>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}
