{% extends 'form_div_layout.html.twig' %}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="form_error">
        {% for error in errors %}
            <li><span>{{ error.messagePluralization is null ? 
                error.messageTemplate|trans(error.messageParameters, 'validators') : 
                error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}
            </span></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_label %}
{% spaceless %}
    {{ parent() }}
    {% if required %}
        <span class="field_required" title="This field is required">*</span>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}